<div class="span{{ column_width }}">
    {% set ns=namespace(current_module=None, app_name='') %}
    {% for klass in klasses %}
    {% set klass_module = ' - '.join(klass.__module__.split('.')[:2]) %}
    {% set app_name = klass.__module__.split('.')[0] %}
    {% if ns.current_module !=  klass_module  or loop.first %}
        {% if not loop.first %}</ul></div>{% endif %}
        {% if app_name != ns.app_name and not loop.first %}
            </div><div class="span{{ column_width }}">
        {% endif %}
        <div class="well skinny klass-list">
        <ul class="nav nav-list">
        <li class="nav-header"><h3>{{ klass_module }}</h3></li>
        {% set ns.current_module = klass_module %}
        {% set ns.app_name = app_name %}
    {% endif %}
    <li class="primary">
        <a href="{{ get_klass_url(klass) }}" {% if get_klass_docs(klass) %}class="klass-tooltip" data-original-title="{{ get_klass_docs(klass) }}" data-placement="bottom"{% endif %}>
            {{ klass.__name__ }}
        </a>
    </li>
    {% endfor %}
</ul></div>
</div>
