<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Django REST Framework Class-Based-View Inspector{% endblock %} -- Classy DRF</title>
    {% block metatags %}<meta name="description" content="The best way to understand Django REST Framework class-based views and serializers is to see it in Classy DRF (based on CCBV), so pick your version and jump in at the deep end.">{% endblock %}
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="qouob3hX67Bv8TpnZJzMsxaDQZP0mVk-Jv2fV9gX93s" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles from Twitter Bootstrap-->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/manni.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery-1.7.1.min.js"><\/script>');</script>
    <script src="/static/bootstrap-collapse.js"></script>
    <script src="/static/modernizr-2.5.3.min.js"></script>
    <script src="/static/bootstrap-dropdowns.js"></script>
    <script>$('.dropdown-toggle').dropdown()</script>

    {% block extraheaders %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">cdrf.co</a>
            </div>
        </div>
    </div>
    <div class="container">
        <article id="main">
            {% block page_header %}{% endblock %}
            <div class="row">{% block content %}{% endblock %}</div>
        </article>
    </div> <!-- /container -->
    <script type="text/javascript">$('.dropdown-toggle').dropdown()</script>
    {% block extra_js %}{% endblock %}

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-62227446-1', 'auto');
     ga('send', 'pageview');

    </script>
</body>
</html>
