{% extends 'base.html' %}

{% block title %}{{ version_prefix }} {{ version }}{% endblock %}

{% block content %}
    <div class="span7">
        <h1>Classy Django REST Framework.</h1>
        <p class="lead">Detailed
            descriptions, with full methods and attributes, for each of
            <a href="http://www.django-rest-framework.org/">Django REST Framework</a>'s class-based views and serializers.
        </p>
    </div>
    <div class="span12">
        <div>
            <h2>Start Here for {{ version_prefix }} {{ version }}.</h2>
            <div class="row">
                {% with column_width=4 %}
                    {% include '_klass_list.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="/static/ccbv.js"></script>
    <script src="/static/bootstrap-tooltip.js"></script>
    <script>
        $( function (){
            CCBV.klass_list.hide_secondary();
            $('#klass-buttons').show();
            $('#klass-buttons #toggle-secondary-klasses').click(function () {
                var button = $(this);
                CCBV.klass_list.toggle_secondary().promise().done(function () {
                    if ($(this).css('display') == 'none') {
                        button.text('Show more');
                    } else {
                        button.text('Show less');
                    }
                });
            });
            $('.klass-tooltip').tooltip();
        })
    </script>
{% endblock %}
